.mypy_cache
.pytest_cache
__pycache__
.coverage
.gitignore
.github
*.md
.env
.env.example
.idea
kubernetes
backstage-config.yaml
codecov.yaml
Makefile
venv
.dockerignore
Dockerfile
Dockerfile.prod
docker-compose.yml
.eslintrc.js
requirements-build.txt
requirements-lint.txt
requirements-test.txt
requirements-dev.txt
requirements-prod.txt
CONTAINER.md
README.md
